<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Usuario</title>
</head>
<body>

    <span class="btn-Aux-forms"><a href="{% url 'usuario' %}">Volver</a></span>
    <form action='{% url 'usuario_create' %}' method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class='btn-wrapper'>
            <input type='submit' value='Guardar' class='btn-Enviar'>
        </div>
    </form>

</body>
</html>
